/* VARIABLES */
:root{
    /* --header-height: 6rem; */
    

    background: red;
    background: rgb(255,132,134);
    background: -moz-linear-gradient(-45deg,  rgb(255,132,134) 0%, rgb(255,63,63) 51%, rgb(255,0,4) 100%);
    background: -webkit-linear-gradient(-45deg,  rgb(255,132,134) 0%,rgb(255,63,63) 51%,rgb(255,0,4) 100%);
    background: linear-gradient(135deg,  rgb(255,132,134) 0%,rgb(255,63,63) 51%,rgb(255,0,4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8486', endColorstr='#ff0004',GradientType=1 );

    --main-color-dark: #fc9e9e;
    --main-color-darken: #f35353;
    --second-color: #ffffff;

    --body-font: 'Oswald', cursive;
    --big-font-size: 2.5rem;
    --main-font-size: 1.2rem;
    --small-font-size: .735rem;

    --z-index: 100;
}


/* CLEAN */

*,::before,::after  {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
 }

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--main-font-size);
    font-weight: 500;
    letter-spacing: .13rem;
}

h1,p,ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* BASE */

.m-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}


/*  HEADER */

.m-header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: var(--z-index);
    background-color: var(--main-color);
    
}

/* NAVIGATION */

.nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background:rgba(255, 11, 11, 0.562);
        backdrop-filter: blur(10px);
        transition: .5s;
    }
}

.nav__close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__item {
    margin-bottom: 5rem;
}

.nav__logo, .nav__link {
    font-weight: bold;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle { 
color: var(--second-color)
} 

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

/* MENU */

.show {
    right: 0;
} 

/* HOME */


.home {
    background-color: var(--main-color);
    overflow: hidden;
}

.home__container {
    grid-template-rows: repeat(2, max-content);
    row-gap: 3rem;
    margin-top: 2.5rem;
}

.home__img {
    position: relative;
    padding-top: 1.5rem;
    justify-self: center;
    width: 440px;
    height: 280px;
}

.home__img img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.home__data {
    color: var(--second-color);
}

.home__title {
    font-size: var(--big-font-size);
    line-height: 1.3;
    padding: 2.7rem 0 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.home__description {
    margin-bottom: 2.5rem;
    text-align: center;
}

.home__button{
    display: inline-block;
    background-color: var(--main-color-dark);
    color: white;
    padding: 1.125rem 2rem;
    border-radius: .5rem;
}

.home__button:hover {
    background-color: var(--main-color-darken);
}

/* ABOUT */

.about {
    background-color: var(--main-color);
    color: var(--second-color);
}

.about__info {
margin-bottom: 3rem;
}

.about__info-title {
    font-size: var(--big-font-size);
    text-align: center;
}

.about__info-subtitle {
    margin: 1rem;
    text-align: center;
}

.about__info-list {
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
    margin-bottom: 3rem;
}

.info-list__left {
    display: block;
    text-align: right;
}

.info-list__right, .info-list__left {
    font-size: var(--main-font-size);
}

.about__player {
    margin-bottom: 4rem;
}

.player__container {
    display: block;
    margin: 0 auto;
}

.about__contact {
    text-align: center;
    margin-bottom: 3rem;
}
/* ADDITIONS */

.rounder {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    width: 12px;
    height: 12px;
    background-color: var(--second-color);
    border-radius: 50%;
}
 
.rounder::before {
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 2px solid var(--second-color);
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.rounder:hover::before {
    transform: translate(-9px, -9px);
    width: 30px;
    height: 30px;
}

.time {
    padding: 0 1rem;
    justify-self: center;
}

.line {
    display: block;
    height: 90%;
    width: 2px;
    background-color: var(--second-color);
    transform: translate(5px, -4px);
    margin-top: 1px;
}

.player {
    border-radius: 7px;
    width: 300px;
}

.back {
    z-index: -1;
}

.shade {
     text-shadow: 2px 2px 2px #171717;;
}

/* SWIPER */

.gallery__title {
    color: var(--second-color);
    text-align: center;
    font-size: var(--big-font-size);
}

.swiper-container {
    margin: 7rem auto;
    border-radius: 10%;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    width: 300px;
    height: 300px;
}


/* FOOTER */

.m-footer {
    padding: 1rem 0 .8rem;
    text-align: center;
    background-color:var(--main-color);
    color: var(--second-color);
}

/* MEDIA */

@media screen and (min-width: 768px) {
    
    .body {
        margin: 0;
    }

    .nav {
        height: 4rem;
    }

    .nav__toggle, .nav__close {
        display: none;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .home__container {
    height: calc(100vh + 7rem);
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
    margin: -6.5rem auto 0;
    }
    
    .home__img {
        width: 480px;
        height: 320px;
    }
    .home__img img{
        width: 480px;
    }

    .about__container {
        
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 1fr;
        row-gap: 0;
        align-items: center;
        justify-content: center;
        margin: -9.5rem auto 0;
    }
    
    .about__info {
        margin-bottom: -7rem;
    }

    .about__info-title {
        margin-top: -5rem;
        margin-bottom: 18rem
    }

    .about__player {
        margin-bottom: 2rem;
    }

    .player {
        width: 420px;
        height: 300px;
    }

    .swiper-container {
        width: 600px;
        height: 600px;
    }
    
    .swiper-slide img {
        width: 600px;
        height: 600px;
    }
    
}   

@media screen and (min-width: 1024px) {
    .m-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home__container {
        justify-content: initial;
        column-gap: 4.5rem;
    }

    .home__img {
        width: 604px;
        height: 460px;
    }

    .home__img img {
         width: 604px;
    }

    .player {
        width: 500px;
        height: 400px;
    }

    .about__container {
        padding-bottom: 7rem;
    }

    .swiper-container {
        width: 700px;
        height: 700px;
    }
    
    .swiper-slide img {
        width: 700px;
        height: 700px;
    }

}

